input.formmover{
	top:45%;
	width: 50%;
	position: absolute;
    left:25%;
}

body{
    position: fixed;
}

button.formmover{
    top:50%;
    width: 20%;
    position: absolute;
    left:40%;
}

div.formmover{
    top:20%;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background: rgba(54, 25, 25, .5);
}
button.formmover.back{
    top:100%;
    width: 20%;
    position: absolute;
    left:28%;
}



button.formmover.go{
    top:100%;
    width: 20%;
    position: absolute;
    left:52%;
}

button.btn.btn-light.formmover.rigtB{
    left: 60%
}

button.btn.btn-light.formmover.leftB{
    left:20%;

}

h1 {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    left: 24%;
    top: 32%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.poster{
    display: inline-block;
    float: center;
    position: fixed;
    width: 100%;
}

div.poster{
    position: fixed;
    top:60%;
}

.poster img{
    height: 10%;
    width: 10%;
}